/*--------------------------------------------------------------
#1.6	gallery
--------------------------------------------------------------*/
.gallery {
	background-color: #fef0ee;
	padding-bottom: 0;
	overflow: hidden;
	
}


.gallery ul {
	text-align: center;
	margin-bottom: 60px;
}

.gallery ul li {
	display: inline-block;
}

.gallery ul li a {
	display: block;
	color: #1e1e1e;
	padding: 12px;
	border: 1px solid #ee8397;
}

.gallery ul li .active {
	background-color: #df2349;
	color: #fff;
}

.gallery #shuffle-wrapper .col {
	padding: 0;
	position: relative;
	display: block;
	visibility: visible;
	box-sizing: border-box;
}

.gallery #shuffle-wrapper a {
	display: block;
	position: relative;
	overflow: hidden;
}

.gallery #shuffle-wrapper .overlay {
	background: rgba(223,35,73,0.7) url(../images/home/gallery/search-icon.html) no-repeat center center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: scale(0,0);
	transform: scale(0,0);
}

.gallery #shuffle-wrapper .col:hover .overlay {
	visibility: visible;
	-webkit-transform: scale(1,1);
	transform: scale(1,1);
	z-index: 5;
}

.gallery #shuffle-wrapper .col img {
	width: 100%;
	display: block;
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.gallery #shuffle-wrapper .col:hover img {
	-webkit-transform: scale(1.3,1.3);
	transform: scale(1.3,1.3);
}